<div class="container">
    <div class="d-flex justify-content-end">	
        <mat-icon (click)="closeDialog()">clear</mat-icon>
    </div>
    <p>
        Aenean augue magna, vestibulum vitae sapien at, 
        consectetur tristique orci. Nam mauris velit, 
        faucibus eget leo id, imperdiet gravida turpis. 
        Proin euismod pellentesque tristique. 
        Nullam convallis facilisis dictum. 
        Etiam ultricies orci ut dictum vehicula. 
        Quisque ut massa vestibulum, 
        ultricies nisi a, dignissim leo.
    </p>
</div>
